[submodule "test/catch2"]
    path = test/catch2
    url = https://github.com/catchorg/Catch2

[submodule "include/eggcpt/external/fmt"]
    path = include/eggcpt/external/fmt
    url = https://github.com/fmtlib/fmt.git
