[submodule "include/shell/external/fmt"]
    path = include/shell/external/fmt
    url = https://github.com/fmtlib/fmt

[submodule "test/catch2"]
    path = test/catch2
    url = https://github.com/catchorg/Catch2
