name: Test

on: push

jobs:
  test-windows:
    runs-on: windows-latest

    defaults:
      run:
        shell: cmd

    steps:
      - uses: actions/checkout@master
        with:
          submodules: recursive

      - name: Build Debug
        run: |
          call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
          msbuild /property:Configuration=Debug shell.sln
      - name: Test Debug
        run: bin\Debug\test.exe

      - name: Build Release
        run: |
          call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
          msbuild /property:Configuration=Release shell.sln
      - name: Test Release
        run: bin\Release\test.exe

  test-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
        with:
          submodules: recursive

      - name: Setup
        run: |
          mkdir test/build
      - name: Build Debug
        run: |
          cd test/build
          cmake -DCMAKE_BUILD_TYPE=Debug ..
          make -j 4
      - name: Test Debug
        run: ./test/build/test

      - name: Build Release
        run: |
          cd test/build
          cmake -DCMAKE_BUILD_TYPE=Release ..
          make -j 4
      - name: Test Release
        run: ./test/build/test

  test-macos:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@master
        with:
          submodules: recursive

      - name: Setup
        run: |
          mkdir test/build
      - name: Build Debug
        run: |
          cd test/build
          cmake -DCMAKE_BUILD_TYPE=Debug ..
          make -j 4
      - name: Test Debug
        run: ./test/build/test

      - name: Build Release
        run: |
          cd test/build
          cmake -DCMAKE_BUILD_TYPE=Release ..
          make -j 4
      - name: Test Release
        run: ./test/build/test
